html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  background-color: #f2efe4;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 1s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  background-color: #35bd53;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: 700;
}

.button--green:hover {
  color: #fff;
  background-color: #009721;
}

.button--brown {
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  background-color: #e0a853;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 5px;
  font-weight: 700;
}

.button--brown:hover {
  color: #fff;
  background-color: #e68a00;
}

.button--mini {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 4px 8px;
}

.button--mini:hover {
  color: #fff;
  background-color: #35495e;
}

.entire {
  position: relative;
}

.container {
  margin: 0 auto;
  min-height: calc(100vh - 108px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 600;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 22px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

a {
  color: #636363;
}

.list_square {
  margin-top: 10px;
  font-size: 16px;
}

.list_square:before {
  content: '■';
  color: #636363;
  margin-right: 5px;
}

.m-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.bt-1 {
  border-top: solid 1px #a0a0a0;
  padding-top: 10px;
}
